<!DOCTYPE html>
<html lang="en" ng-app="balushome">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>Shop Online in Bahrain for Furniture, Home Decor and Furnishings | Balu's Home.com - Quality meet Demands</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="include/style.css"/>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-route/angular-route.min.js"></script>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css"/>
    <script src="js/routes.js"></script>
    <script src="js/app.js"></script>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
    <!--Google js files -->
    <script src="js/google-analytics.js"></script>
    <script src="js/google-tagmanager-head.js"></script>
    <!-- Browser icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="images/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="images/icons/favicon-16x16.png" sizes="16x16">
    <!-- Description and Keywords -->
    <meta name="description" content="Online Furniture Shopping in Bahrain: Shop from our online store in Bahrain for Furniture, Home Decor , Furnishings and Recovering of Sofa at best prices." />
    <meta name="keywords" content="online furniture, online furniture shopping, furniture stores, online furniture store, furniture online shopping, sofa recovering, furniture repair, online stores in Bahrain, home shopping" />

</head>
<body ng-controller="mainCtrl">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W47RS2Q"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- Brand Heading -->
<div>
    <div class="brand">BALU'S HOME</div>
    <div class="address-bar"><strong>Quality meet Demands </strong> </div>
</div>
<!-- End Brand heading -->
<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header navbar-index">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
            <a class="navbar-brand navbar-index-brand" href="index.html">Balu's Home</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#/" id="home_nav" class="" target="_self" ng-class="{'nav-active' : active == 0}" ng-click="active = 0">Home</a>
                </li>
                <li>
                    <a id="about_nav" class="show-cursor" target="_self" ng-class="{'nav-active' : active == 1}" ng-click="active = 1;routeTo('about')">About</a>
                </li>
                <li>
                    <a id="gallery_nav" class="show-cursor" target="_self" ng-class="{'nav-active' : active == 2}" ng-click="active = 2;">Gallery</a>
                </li>
                <li>
                    <a id="contact_nav" class="show-cursor" target="_self" ng-class="{'nav-active' : active == 3}" ng-click="active = 3;routeTo('contact')">Contact</a>
                </li>
                <li>
                    <a id="blogs_nav" class="show-cursor" target="_self" ng-class="{'nav-active' : active == 4}" ng-click="active=4;routeTo('blogs')">Blogs</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<ng-view></ng-view>
<!-- Footer -->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Copyright &copy; balushome.com 2017</p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End-->
</body>
</html>