<div class="container" ng-controller="serviceCtrl">
    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center ">
                <h2 class="brand-before center-block">
                    <small>Welcome to</small>
                </h2>
                <h1 class="brand-name" ><img class="img-responsive center-block" src="images/index-images/balushome_png.png"  > </h1>
                <hr class="tagline-divider">
                <h2>
                    <small>Reg.
                        <strong>Al Shuome Upholstery</strong>
                    </small><br>
                    <small><strong>Services | Leather & Fabric Upholstery</strong></small>

                </h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-4">
                <img class="img-responsive  img-responsive img-full img-left" src="images/reupholstery/reupholstery-7.jpg" alt="" style="padding-top: 70px;">
            </div>
            <div class="col-lg-8">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>Leather and Fabric Upholstery</strong>
                </h2>
                <hr>
                <p style="line-height: 190%">Al Shumoe upholstery has been serving as a furniture and furnishing supplier in the Bahrain market for over 10 years. Our superior quality products and services offered to our clients have made us a reputed, trustworthy and a famous furniture firm in Bahrain.</p>


            </div>


        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>Upholstery Service</strong>
                </h2>
                <hr>
                <p style="line-height: 190%">We can upholster any item of furniture, be it leather or fabric, including; Sofa, Couch, Office furniture, Dining chairs, Kitchen chairs, Furniture for Hotels, Restaurants etc</p>

            </div>
            <div class="col-lg-12">
                <div class="col-lg-4">
                    <img class="img-responsive  img-full" src="images/upholstery/upholstery-fabric.jpg" alt="upholstery fabric" style="height:240px; width: 20px " >
                </div>
                <div class="col-lg-4">
                    <img class="img-responsive  img-full" src="images/upholstery/upholstery-fabric-1.jpg" alt="upholstery fabric" style="height:240px; width: 20px " >
                </div>
                <div class="col-lg-4">
                    <img class="img-responsive  img-full" src="images/upholstery/upholstery-leather.jpg" alt="upholstery leather" style="height:240px; width: 20px " >
                </div>
            </div>
            <div class="col-lg-12"><br></div>
            <div class="col-lg-12">
                <div class="col-lg-4">
                    <img class="img-responsive  img-full" src="images/sofa/sectional-sofa/sectional-sofa-8-seater-blue.jpg" alt="upholstery fabric sofas" style="height:240px; width: 20px " >
                </div>
                <div class="col-lg-4">
                    <img class="img-responsive  img-full" src="images/upholstery/upholstery-arabian-sofa.jpg" alt="upholstery fabric sofa" style="height:240px; width: 20px ">
                </div>
                <div class="col-lg-4">
                    <img class="img-responsive img-full" src="images/upholstery/upholstery-leather-sofa.jpg" alt="upholstery leather sofa"style="height:240px; width: 20px " >
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-4">
                <img class="img-responsive  img-responsive img-full img-left" src="images/index-images/sofa-repair.jpg" alt="" style="padding-top: 70px;">
            </div>
            <div class="col-lg-8">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>Upholstery Fabrics and Materials</strong>
                </h2>
                <hr>
                <p style="line-height: 190%">We will also work with clients who provide their own upholstery weight and quality fabrics. Just message us on WhatsApp to have us bring our fabric sample catalogs directly to your home or office. We will be happy to guide you on how to purchase materials appropriate for your project.</p>
                <ul class="list-unstyled" style="font-size: 1.25em; line-height: 1.6; color: #000">

                    <li>
                        <ul>
                            <li>Upholstery fabric & leather catalogs.</li>
                            <li>All latest fabric patterns, colors all types of leather.</li>
                            <li>Free Collection and Delivery Service.</li>

                        </ul>
                    </li>


                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <h2 class="intro-text text-center">
                    <strong>To Know About Pricing Details Message us on WhatsApp Your Sofa Images to Us</strong><br><br>
                    &nbsp; &nbsp;<img src="images/social/WhatsApp-icon.png" style="height:40px ;width:40px ;" >&nbsp; <strong style="font-size: 30px">+973-35575189 </strong>
                    <br><br> <a class="btn btn-danger center-block" href="tel:+973-35575189" role="button">Add to Contact</a>
                </h2>

            </div>
        </div>
    </div>

    <!-- /.social -->
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>Follow us :</strong> &nbsp; &nbsp; <a href="https://www.facebook.com/balushome" target="_blank"><img src="images/social/icon_facebook.png"></a> &nbsp;<a href="https://twitter.com/Balus_Home" target="_blank"><img src="images/social/icon_twitter.png"></a><a href="https://plus.google.com/b/113220093015145729926/113220093015145729926/about?gmbpt=true&hl=en-GB" target="_blank"> <img src="images/social/Google_plus.png" width="36" height="36"></a><a href="https://www.instagram.com/balushome/" target="_blank"> <img src="images/social/Instagram.png" height="34" width="34"></a><a href="https://www.pinterest.com/balushome/" target="_blank"> <img src="images/social/Pinterest.png"></a>
                </h2>
                <hr>
            </div>
        </div>
    </div>
</div>